@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

/* OpenDyslexic Font */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('/fonts/OpenDyslexic-Regular.woff2') format('woff2'),
         url('/fonts/OpenDyslexic-Regular.woff') format('woff'),
         url('/fonts/OpenDyslexic-Regular.otf') format('opentype'),
         url('/fonts/OpenDyslexic-Regular.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/fonts/OpenDyslexic-Bold.woff2') format('woff2'),
         url('/fonts/OpenDyslexic-Bold.woff') format('woff'),
         url('/fonts/OpenDyslexic-Bold.otf') format('opentype'),
         url('/fonts/OpenDyslexic-Bold.eot') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/fonts/OpenDyslexic-Italic.woff2') format('woff2'),
         url('/fonts/OpenDyslexic-Italic.woff') format('woff'),
         url('/fonts/OpenDyslexic-Italic.otf') format('opentype'),
         url('/fonts/OpenDyslexic-Italic.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/fonts/OpenDyslexic-Bold-Italic.woff2') format('woff2'),
         url('/fonts/OpenDyslexic-Bold-Italic.woff') format('woff'),
         url('/fonts/OpenDyslexic-Bold-Italic.otf') format('opentype'),
         url('/fonts/OpenDyslexic-Bold-Italic.eot') format('embedded-opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* Apply OpenDyslexic font when class is active */
.dyslexic-font-active,
.dyslexic-font-active * {
    font-family: "OpenDyslexic", sans-serif !important;
} 
